<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Dance</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div id="selectAI">
        <h1 id="title">Brain Dance</h1>
        <hr />
        <div id="icons" class="section">
            <div class="icon" onclick="location.href = '/music';">
                <img width="70%" height="70%" style="margin: 0 15%;" src="/static/assets/music_icon.png" alt="song_icon">
                <h3 style="width: 100%;text-align:center;color:black;margin-bottom:5%;">Music</h3>
            </div>
            <div onclick="location.href = '/ranking';" class="icon">
                <img width="70%" height="70%" style="margin: 0 15%;" src="/static/assets/ranking.png" alt="ranking_icon">
                <h3 style="width: 100%;text-align:center;color:black;margin-bottom:5%;">Ranking</h3>
            </div>
            <div class="icon" onclick="location.href = '/badge';">
                <img width="70%" height="70%" style="margin: 0 15%;" src="/static/assets/badge.png" alt="badge_icon">
                <h3 style="width: 100%;text-align:center;color:black;margin-bottom:5%;">Badge</h3>
            </div>
        </div>        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>