<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intel AI Experience - 이미지 분류 AI</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="selectAI">
      <h1>Intel AI Experience</h1>
      <hr />
      <div id="image_classification">
        <h2>이미지 분류 AI 체험하기</h2>
        <p>인터넷에서 다양한 종류의 이미지를 찾아 AI가 추론하도록 하여 추론 결과를
            확인 해 보는 AI 체험입니다.<br>
            <strong>파일 선택</strong> 버튼을 이용하여 이미지 데이터를 찾고 <strong>새로운 데이터 입력하기</strong> 버튼을 클릭한 후<br>
            <strong>AI 추론 결과 확인하기</strong> 버튼으로 결과를 확인 해 보세요.</p>
        <div id="selectImage">
            <label for="file-upload" class="custom-file-upload">
                파일 선택
            </label>
            <input id="file-upload" type="file" style="display: none;"/>
            <button id="get-ai-result" disabled>AI 추론 결과 확인하기</button>
        </div>
        <div id="result"></div>
      </div>
    </div>
  </body>
  <script src="./app.js"></script>
  <script>image_classificationInit();</script>
</html>
