<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brain Dance</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div id="mainPage">
      <div id="title">
        <img src="/static/assets/Intel_logo_2023.svg.png" width="256px">
        <h1>Brain Dance</h1>
        <h2>Using OpenVINO Pre-trained Model</h2><br>
        <p>Source: <a href="https://github.com/openvinotoolkit/openvino_notebooks">https://github.com/openvinotoolkit/openvino_notebooks</a></p><br>
        <a href="./cam-test"><button>Let's Start!</button></a>
      </div>
    </div>
  </body>
</html>