<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intel AI Experience - Select AI</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="selectAI">
      <h1>Intel AI Experience</h1>
      <hr />
      <br>
      <div id="selected_experience">
          <h2>체험 제목</h2>
          <h3>체험 내용</h3>
          <img src="" alt="체험 이미지"><br>
          <a href="#" id="go_experience" target="_blank"><button>체험하기</button></a>
      </div>
      <div id="select_experience">
        <ul id="experience_0" class="selected">
          <li class="title">이미지 분류 AI</li>
          <li class="image"><img src="./assets/image_classification.png" width="250px" height="100px"></li>
          <li class="button"><button>선택됨</button></li>
        </ul>
        <ul id="experience_1">
          <li class="title">객체 인식 AI</li>
          <li class="image"><img src="./assets/object_detection.png" width="250px" height="100px"></li>
          <li class="button"><button>자세히 알아보기</button></li>
        </ul>
        <ul id="experience_2">
          <li class="title">포즈 인식 AI</li>
          <li class="image"><img src="./assets/pose_detection.png" width="250px" height="100px"></li>
          <li class="button"><button>자세히 알아보기</button></li>
        </ul>
        <ul id="experience_3">
          <li class="title">스타일 변환 AI</li>
          <li class="image"><img src="./assets/style_change.png" width="250px" height="100px"></li>
          <li class="button"><button>자세히 알아보기</button></li>
        </ul>
      </div>
    </div>
  </body>
  <script src="./app.js"></script>
  <script>selectAIPageInit();</script>
</html>
