<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intel AI Experience - 실시간 스타일 변환 AI</title>
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
    <div id="selectAI">
        <h1>Intel AI Experience</h1>
        <hr />
        <div id="object_detection">
            <h2>실시간 스타일 변환 AI 체험하기</h2>
            <p>웹 캠을 활용하여 실시간으로 스타일을 변환하는 AI를 체험해 봅시다.</p>
            <button id="activate-camera">카메라 활성화하기</button>
            <div id="camera-stream"></div>
            <div id="result"></div>
        </div>
    </div>
    <script src="./app.js"></script>
    <script>object_detection_init();</script>
</body>
</html>
